
.navbar {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0; /* Remove border-radius to avoid visual issues when fixed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds shadow for better visual effect */
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar-container {
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 1rem;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ddd;
}
